/* src/pages/Home.css */

.home-content {
  --background: linear-gradient(to bottom right, #caf0f8, #ade8f4);
  text-align: center;
  padding-top: 2rem;
}

.home-content h2 {
  font-size: 2rem;
  color: #03045e;
}

.home-content p {
  font-size: 1.2rem;
  color: #023e8a;
  margin-top: 2rem;
}
